{% extends "base_template.html" %}

{% set active_page = "Updates" %}

{% block title %}Updates | Hermes{% endblock %}

{% block main %}
<div class="row">
    <div class="col">
        <h1>Updates </h1>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <caption>Updates</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">date</th>
                        <th scope="col">ticker</th>
                        <th scope="col">volume</th>
                        <th scope="col">volume weighted avg price</th>
                        <th scope="col">open</th>
                        <th scope="col">close</th>
                        <th scope="col">highest</th>
                        <th scope="col">lowest</th>
                        <th scope="col">items aggregated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quote in source %}
                    <tr>
                        <th scope="row">{{quote.t}}</th>
                        <td>{{quote.T}}</td>
                        <td>{{quote.v}}</td>
                        <td>{{quote.vw}}</td>
                        <td>{{quote.o}}</td>
                        <td>{{quote.c}}</td>
                        <td>{{quote.h}}</td>
                        <td>{{quote.l}}</td>
                        <td>{{quote.n}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <span>{{source_to_html_from_app}}</span>
    </div>
</div>

{% endblock %}