<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<title>Hermes Quotes Analysis</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
	<style>
		body {
		  margin-bottom: 60px;
		}
		.footer {
		  height: 40px;
		  line-height: 40px;
		  background-color: #f5f5f5;
		}
	  </style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="#">Tickers</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
						aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/exchanges">Stock Exchanges</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/tickers">Tickers</a>
							</li>
						</ul>
						<span class="navbar-text">
							Quotes analysis
						</span>
					</div>
				</nav>
			</div>

		</div>
		
		<div class="row">
			<div class="col">
				<h1>First Tickers </h1>
				<table>
					<tr>
						<th>ticker</th>
						<th>name</th>
						<th>market</th>
						<th>locale</th>
						<th>type</th>
						<th>currency</th>
						<th>active</th>
						<th>primaryExch</th>
						<th>updated</th>
						<th>codes</th>
						<th>url</th>
						<th>market</th>
					</tr>
					{% for tickers in source %}
					<tr>
						<td>{{tickers.ticker}}</td>
						<td>{{tickers.name}}</td>
						<td>{{tickers.market}}</td>
						<td>{{tickers.locale}}</td>
						<td>{{tickers.type}}</td>
						<td>{{tickers.currency}}</td>
						<td>{{tickers.active}}</td>
						<td>{{tickers.primaryExch}}</td>
						<td>{{tickers.updated}}</td>
						<td>{{tickers.codes}}</td>
						<td>{{tickers.url}}</td>
						<td>{{tickers.market}}</td>
					</tr>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
			  <div class="footer fixed-bottom">
				©2021
			  </div>
			</div>
		  </div>
	</div>
</body>

</html>