<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/h.png') }}">
	<style>
		body {
		  margin-bottom: 60px;
		}
		.footer {
		  height: 40px;
		  line-height: 40px;
		  background-color: #f5f5f5;
		}
	  </style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					
					<a class="navbar-brand active" href="/">Hermes</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
						aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav mr-auto">						
							<li class={% if active_page == 'Tickers' %}"nav-item active"{% else %}"nav-item"{% endif %}>
								<a class="nav-link" href="/tickers/">Tickers</a>
							</li>
							<li class={% if active_page == 'Updates' %}"nav-item active"{% else %}"nav-item"{% endif %}>
								<a class="nav-link" href="/tickers/updates">All last updates</a>
							</li>
							<li class={% if active_page == 'Aapl' %}"nav-item active"{% else %}"nav-item"{% endif %}>
								<a class="nav-link" href="/tickers/aapl">Apple</a>
							</li>
						</ul>
						<span class="navbar-text">
							<a class="nav-link" href="/admin/">Admin</a>
						</span>
					</div>
				</nav>
			</div>

		</div>
		<main>
			{% block main %}{% endblock %}
		</main>
		<div class="row">
			<div class="col text-center">
			  <div class="footer fixed-bottom">
				©2021
			  </div>
			</div>
		  </div>
	</div>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>